<div class="fake-body">
  <div class="menu">
    {{ page.menu }}
  </div>

  <div class="logo-div">
    <a href="https://newsbystasden.site">
      <img src="https://newsbystasden.site/sites/default/files/logo.png" alt="newsbystasden logo"
           class="logo-img"/>
    </a>
  </div>

  <hr class="default-hr">

  <div class="header">
    {{ page.header }}
  </div>

  <div class="content">
    {{ page.content }}
  </div>

  <hr class="default-hr">

  <div class="footer">
    {{ page.footer }}
  </div>

  <div class="footer-brand">
    <p>newsbystasden.site © 2023 newsbystasden</p>
  </div>
</div>
