.form-header-icon {
  margin-right: 8px;
}

.currency-flag-icon {
  margin-left: 8px;
}

.calendar-date-icon {
  width: 28px;
  margin: 8px 12px 0 0;
}

.source-p {
  margin: 32px 0 52px 0;
  font-size: 18px;
}
